* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-image: url("../img/wooden-bkg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Noto Serif', serif;
}

.main-container {
   width: 70%;
   margin: 10px auto;
}

/* HEADER */
header {
   height: 400px;
}
header .header-top {
   background-image: url("../img/header-natural.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 350px;
   border: 10px solid white;
   position: relative;
}
.header-container {
   width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.header-container img{
   width: 40%;
}
.header-container h1{
   color: white;
   text-transform: uppercase;
}

main {
   margin: 10px 0 10px 0;
}

main::after, .footer-bottom::after, .title-left-col::after {
   content: "";
   display: table;
   clear: both;
}

nav.nav-bar ul {
   height: 50px;
   line-height: 50px;
   text-align: center;
   background-color: #504741;
}
nav.nav-bar li {
   list-style: none;
   display: inline-block;
   padding: 0 10px;
}

nav.nav-bar ul li:hover {
   background: #302b27;
}

nav.nav-bar ul li a {
   text-decoration: none;
   color: white;
}


.left-column, .right-column {
   width: 15%;
   float: left;
}

#rss-icon {
   float: left;
   font-size: 30px;
   color: orange;
   width: 20%;
}

.title-left-col h2 {
   float: left;
   width: 80%;
   padding: 0 5px;
}

.content-left-col ul {
   list-style: none;
   color: #32CD32;
}

.content-left-col ul li {
   padding: 5px;
}

.middle-column {
   width: 60%;
   float: left;
   margin: 0 5%;
}


.card {
   background-color: white;
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 20px;
}

.card h2 {
   color: #302b27;
   margin-bottom: 20px;
}

.card h2.title-middle-col {
   text-shadow: 2px 2px lightgrey;
}

.footer-style {
   background-color: white;
   border-radius: 5px;
   color: lightgrey;
}

footer .footer-top h1 {
   font-size: 16px;
   font-style: italic;
   border-bottom: 1px solid lightgrey;
}

.footer-bottom {
   text-align: center;
   font-size: 50px;
}

.footer-icon {
   float: left;
   width: 33.33%;
   padding: 20px;
}

footer {
   padding: 2px;
   text-align: center;
}
